@import 'tailwindcss';

:root {
    --content-width: 1024px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

html,
body,
#root {
    height: 100%;
}

#root {
    @apply flex flex-col w-full;
}
